@model IEnumerable<BusinessModel.ProductBO>
<marquee behavior="" direction="right"> <p style="color:darkred;font-size:25px;font-weight:bolder; font-style:italic;">Flat 50 % Off</p></marquee>

<div class="row mt-2 g-4">
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="margin-bottom:20px;">
            <div class="card p-1">
                <div class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename">
                        <span style="font-style:italic; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">@item.Product_Name</span>
                        <br />
                        <br />
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn" style="background-color:darkblue;color:white; border-radius:30px;">View</a>

                    </div>
                    <div> <img src="@item.Product_Image" height="100" width="100" /> </div>
                </div>
            </div>
        </div>

    }

</div>
<style>
    * {
        margin: 0;
        padding: 0
    }

    

    .text {
        font-size: 23px;
        font-weight: bold
    }

    .card {
        height: 130px;
        overflow: hidden;
        border: none;
        border-radius: 15px;
        background-color: lightskyblue;
    }

    .imagename {
        font-size: 14px;
        font-weight: bold
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $('.card').hover(
        function () {
            $(this).animate({
                marginTop: "-=2%",
                marginBottom: "+=2%"
            }, 200)
        },
        function () {
            $(this).animate({
                marginTop: "+=2%",
                marginBottom: "-=2%"
            }, 200)
        }


    )

</script>
<style>
    .card:hover {
        box-shadow: -1px 9px 40px -12px #e83d16;
    }
</style>